<!--The content below is only a placeholder and can be replaced.-->

  <nav class="navbar navbar-default">
  <h1>UTS: Attendance</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  
</nav>
<div class="container">
<!-- Loads the component currently in the router.-->
  <router-outlet></router-outlet>
</div>
