<div class="login-html">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/subjects']">Subjects</a></li>
        <li class="breadcrumb-item active">Classes</li>
      </ol>
<h1> 0000 Subject Name </h1>
    <div class="list-group">
       
        <a [routerLink]="['/attend']" class="list-group-item list-group-item-action">Lecture 02 </a>
        <a [routerLink]="['/attend']" class="list-group-item list-group-item-action">Tutorial 01</a>
        <a [routerLink]="['/attend']"class="list-group-item list-group-item-action">Workshop 03</a>
        
      </div>
</div>